services:
  postgres:
    image: postgres:17-alpine    
    container_name: firstapi-postgres
    restart: always
    env_file: .env   
    ports:
      - "127.0.0.1:5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:


#services:
#  postgres:
#    container_name: postgresForProducts
#    image: postgres
#    restart: always
#    environment:
#      POSTGRES_DB: products
#      POSTGRES_USER: postgres
#      POSTGRES_PASSWORD: postgres
#    ports:
#      - "5432:5432"
#    volumes:
#      - postgres-data:/var/lib/postgresql/data