name: Hello Actions

on:
  push:
    branches: [ "master" ]

jobs:
 
  build:
    runs-on: ubuntu-latest

    steps:
      - name: startup 
        uses: actions/checkout@v4 

      - name: ChecWorkDirectory      
        run: ls -la
         
      
      - name: setup .Net       
        uses: actions/setup-dotnet@v4        
        with:
          dotnet-version: 10.0.x

      - name: Restore 
        working-directory: FirstApiWeb
        run: dotnet restore

      - name: Build 
        working-directory: FirstApiWeb
        run: dotnet build -c Release --no-restore
      
      - name: Test (project)      
        run: dotnet test TestProject1/TestProject1.csproj -c Release 
      
      - name: Publish
        working-directory: FirstApiWeb
        run: dotnet publish -c Release -o out --no-build --no-restore       

      - name: Set release name
        run: echo "RELEASE=$(date +%Y%m%d_%H%M%S)" >> $GITHUB_ENV         

      - name: Prepare release dir on VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          script: |
            set -euxo pipefail
            mkdir -p /tmp/scp_action_test/${{ env.RELEASE }}
            ls -ld /tmp /tmp/scp_action_test /tmp/scp_action_test/${{ env.RELEASE }}
            which tar
            tar --version

      - name: appleboy/scp-action TEST upload to /tmp
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          port: 22
          debug: true

          # грузим ОДИН файл, чтобы было проще
          source: "FirstApiWeb/out/FirstApiWeb.dll"

          # ВАЖНО: без завершающего /
          target: "/tmp/scp_action_test/${{ env.RELEASE }}"

          overwrite: true
          rm: false

          # ВАЖНО: явный tar (на всякий)
          tar_exec: "/usr/bin/tar"

      - name: Restart upp on VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          script: |
            set -e
            mkdir -p /var/www/myfirstapp/releases/${{ env.RELEASE }}           
            ls -ld /var/www/myfirstapp/releases/${{ env.RELEASE }}  
      
      - name: Verify uploaded files on VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          script: |
            set -e
            ls -la /var/www/myfirstapp/releases/${{ env.RELEASE }}  
     
      - name: Active release
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          script: |
            set -e            
            ln -sfn /var/www/myfirstapp/releases/${{ env.RELEASE }} /var/www/myfirstapp/current
            systemctl restart myfirstapp
     
       

 
        
