name: Hello Actions

on:
  push:
    branches: [ "master" ]

jobs:
 
  build:
    runs-on: ubuntu-latest

    steps:
      - name: startup 
        uses: actions/checkout@v4 

      - name: ChecWorkDirectory      
        run: ls -la
         
      
      - name: setup .Net       
        uses: actions/setup-dotnet@v4        
        with:
          dotnet-version: 10.0.x

      - name: Restore 
        working-directory: FirstApiWeb
        run: dotnet restore

      - name: Build 
        working-directory: FirstApiWeb
        run: dotnet build -c Release --no-restore

      - name: Publish
        working-directory: FirstApiWeb
        run: dotnet publish -c Release -o out --no-build --no-restore   

      - name: Show files
        run:  ls -la 

      - name: Show filee in out
        run:  ls -la FirstApiWeb/out/
        
      - name: Test (project)      
        run: dotnet test TestProject1/TestProject1.csproj -c Release 

      - name: Set release name
        run: echo "RELEASE=$(date +%Y%m%d_%H%M%S)" >> $GITHUB_ENV         

      - name: Upload publish to VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.VPS_HOST }}
          username:  ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          source: "FirstApiWeb/out/*"
          target: "/var/www/myfirstapp/releases/${{ env.RELEASE }}"

      - name: Active release
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          script: |
            set -e            
            sudo ln -sfn /var/www/myfirstapp/releases/${{ env.RELEASE }} /var/www/myfirstapp/current
            sudo systemctl restart myfirstapp
     
       

 
        
