name: Hello Actions

on:
  push:
    branches: [ "master" ]

jobs:
  hello:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout rep 
        uses: actions/checkout@v4
      
      - name: Say hello
        run: echo "Hello from GitHub Actions"

      - name: Test
        run: ls -la 
