name: Hello Actions

on:
  push:
    branches: [ "master" ]

jobs:
 
  build:
    runs-on: ubuntu-latest

    steps:
      - name: startup 
        uses: actions/checkout@v4 

      - name: ChecWorkDirectory      
        run: ls -la
         
      
      - name: setup .Net       
        uses: actions/setup-dotnet@v4        
        with:
          dotnet-version: 10.0.x

      - name: Restore 
        working-directory: FirstApiWeb
        run: dotnet restore

      - name: Build 
        working-directory: FirstApiWeb
        run: dotnet build -c Release --no-restore
      
      - name: Test (project)      
        run: dotnet test TestProject1/TestProject1.csproj -c Release 
      
      - name: Publish
        working-directory: FirstApiWeb
        run: dotnet publish -c Release -o out --no-build --no-restore       

      - name: Set release name
        run: echo "RELEASE=$(date +%Y%m%d_%H%M%S)" >> $GITHUB_ENV         

      - name: Restart upp on VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          script: |
            set -e
            mkdir -p /var/www/myfirstapp/releases/${{ env.RELEASE }}           
            ls -ld /var/www/myfirstapp/releases/${{ env.RELEASE }}
          
 
      - name: Native scp test (no appleboy)
        env:
          VPS_HOST: ${{ secrets.VPS_HOST }}
          VPS_USER: ${{ secrets.VPS_USER }}
          VPS_KEY: ${{ secrets.VPS_KEY }}
        run: |
         set -euxo pipefail

         mkdir -p ~/.ssh
         echo "$VPS_KEY" > ~/.ssh/id_ed25519
         chmod 600 ~/.ssh/id_ed25519
         ssh-keyscan -H "$VPS_HOST" >> ~/.ssh/known_hosts

         echo "HELLO $(date -u)" > test_scp.txt

         scp -vvv -i ~/.ssh/id_ed25519 test_scp.txt \
         "$VPS_USER@$VPS_HOST:/tmp/test_scp.txt"

         ssh -i ~/.ssh/id_ed25519 "$VPS_USER@$VPS_HOST" \
         "ls -la /tmp/test_scp.txt && cat /tmp/test_scp.txt"
      
      - name: Native sftp test (batch)
        env:
          VPS_HOST: ${{ secrets.VPS_HOST }}
          VPS_USER: ${{ secrets.VPS_USER }}
        run: |
          set -euxo pipefail
          printf "ls -la /tmp\nput test_scp.txt /tmp/test_sftp.txt\nls -la /tmp/test_sftp.txt\nbye\n" > sftp_batch.txt
          sftp -vvv -b sftp_batch.txt -i ~/.ssh/id_ed25519 "$VPS_USER@$VPS_HOST"
      
      - name: Verify uploaded files on VPS
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          script: |
            set -e
            ls -la /var/www/myfirstapp/releases/${{ env.RELEASE }}  
     
      - name: Active release
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_KEY }}
          script: |
            set -e            
            ln -sfn /var/www/myfirstapp/releases/${{ env.RELEASE }} /var/www/myfirstapp/current
            systemctl restart myfirstapp
     
       

 
        
