name: Hello Actions

on:
  push:
    branches: [ "master" ]

jobs:
 
  build:
    runs-on: ubuntu-latest

    steps:
      - name: startup 
        uses: actions/checkout@v4            
      
      - name: setup .Net
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore
        working-directory: backend
        run: dotnet restore

      - name: Build
        working-directory: backend
        run: dotnet build -c Release --no-build

      - name: Test
        working-directory: backend
        run: dotnet test -c Release --no-build

        
  front:
    runs-on: ubuntu-latest
    
    steps:
      - name: Setup node
        uses: actions/setup-node@v4      
        with:
          node-version: 20
          cache: npm
        
