name: Hello Actions

on:
  push:
    branches: [ "master" ]

jobs:
 
  build:
    runs-on: ubuntu-latest

    steps:
      - name: startup 
        uses: actions/checkout@v4 

      - name: ChecWorkDirectory      
        run: ls -la
         
      
      - name: setup .Net       
        uses: actions/setup-dotnet@v4        
        with:
          dotnet-version: 10.0.x

      - name: Restore       
        run: dotnet restore

      - name: Build        
        run: dotnet build -c Release --no-restore

      - name: Publish       
        run: dotnet publish -c Release -o out --no-build --no-restore --no-build    

      - name: Test (project)
        run: dotnet test TestProject1.csproj -c Release --no-build --no-restore


      - name: Show files
        run:  ls -la 

 
        
