name: Hello Actions

on:
  push:
    branches: [ "master" ]

jobs:
  hello:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout rep 
        uses: actions/checkout@v4
      
      - name: Say hello
        run: echo "Hello from GitHub Actions"

      - name: Print env
        env:
          HOST: ${{ secrets.VPS_HOST }}
          USER: ${{ secrets.VPS_USER }}
          APP_NAME: testapp
        run: | 
           echo "App=$APP_NAME"
           echo "USER=$VPS_USER"
        
